* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scrollbar-color: #0088ff transparent;
  scrollbar-width: thin; 
}

@font-face {
  font-family: 'Talina DEMO';
  src: url('Fontes/Talina_DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('Fontes/Unbounded-VariableFont_wght.ttf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Fontes/Poppins-Regular.woff') format('woff');
  font-style: normal;
}

.barra-fixa {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #397FFC;
  width: 100%;
  height: 78px;
  align-items: center;
  display: flex;
}

.Delta {
  position: sticky;
  color: #FEFEFE;
  font-family: "Talina DEMO", sans-serif;
  font-size: 47.998px;
  font-weight: 400;
  z-index: 1001;
  left: 50px;
}

#LogoDelta {
  position: absolute;
  left: 148px;
  width: 36.001px;
  height: 33.861px;
  z-index: 1002;
  display: block;
}

.Cadastrar {
  position: absolute;
  right: 44px;
  width: 119px;
  height: 29px;
  background-color: #FAFAFA;
  border-radius: 25px;
  z-index: 1001;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

#cadastrar {
  color: #306AE5;
  font-family: Poppins;
  font-size: 13px;
  font-weight: bolder;
  line-height: 1;
  letter-spacing: 0.39px;
  z-index: 1001;
}

.Entrar {
  position: absolute;
  width: 44px;
  height: 19px;
  z-index: 1001;
  color: #FAFAFA;
  font-family: Poppins;
  font-size: 13px;
  font-weight: bolder;
  align-items: center;
  display: flex;
  right: 183px;
}

.Conceito, .Objetivos, .Funcionalidades, .Inicio, .Sobre_Nos, .valores{
  cursor: pointer;
  color: #FAFAFA;
  position: absolute;
  z-index: 1001;
  font-family: Poppins;
  font-weight: normal;
  align-items: center;
  display: flex;
  font-size: 13px;
  height: 20px;
}

.Inicio { 
  width: 35px; 
  left: 404px; 
}
.Conceito { 
  width: 60px; 
  left: 479px; 
}
.Objetivos { 
  width: 62px; 
  left: 579px; 
}
.Funcionalidades { 
  width: 109px; 
  left: 681px; 
}
.Sobre_Nos{
  width: 66px; 
  left: 830px; 
}
.valores{
  width: 100px; 
  left: 936px; 
}

.FundoGradiente {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 862px;
  background: linear-gradient(180deg, #0166FF 19.73%, #B6D1FF 65.27%, #E0E8F6 100%);
  z-index: 1;
  display: block;
}

.titulo1, .titulo2 {
  position: absolute;
  height: 50px;
  font-family: 'Unbounded', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: normal;
  color: #FAFAFA;
  z-index: 2;
}

.titulo1 { 
  width: 303px; 
  left: 89px; 
  top: 164px; 
}
.titulo2 { 
  width: 367px; 
  right: 165px; 
  top: 323px; 
}

.tituloPrincipal {
  position: absolute;
  width: 1265px;
  height: 119px;
  left: 95px;
  top: 204px;
  font-family: 'Unbounded', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: normal;
  color: #FAFAFA;
  z-index: 2;
  background: var(--TEXTO-MAIN, linear-gradient(90deg, #FFF 59.13%, rgba(255, 255, 255, 0.40) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#LogoTransparente {
  position: absolute;
  top: 140px;
  left: 880px;
  height: auto;
  z-index: 3;
  display: block;
}

.Texto {
  position: absolute;
  width: 872px;
  height: 66px;
  left: 89px;
  top: 326px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: normal;
  color: #FAFAFA;
  z-index: 2;
}

.retanguloComecar {
  position: absolute;
  width: 303px;
  height: 65px;
  left: 89px;
  top: 420px;
  border-radius: 18px;
  background: #306BE5;
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: flex;
}

#textoComecar {
  position: absolute;
  width: 160px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  color: #FAFAFA;
  z-index: 3;
}

.carta1, .carta2, .carta3 {
  position: absolute;
  width: 325px;
  height: 246px;
  top: 570px;
  border-radius: 50px 50px 0 0;
  background: #306BE5;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.carta1 { 
  left: 176px; 
  z-index: 2; 
}
.carta2 { 
  left: 557px; 
  z-index: 3; 
}
.carta3 { 
  right: 175px; 
  z-index: 3; 
}

.conteudoCarta1, .conteudoCarta2, .conteudoCarta3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  font-size: 16.5px;
  font-style:normal;
  font-weight: 500;
  line-height: normal;
}

.Numero, .horas, .Numero2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Unbounded', sans-serif;
  font-weight: 800;
  font-size: 70px;
  line-height: 1;
}

.menos { color: #6E96ED; 
  margin-right: 2px; 
}
.numero { 
  color: #FAFAFA; 
}
.porcentagem { 
  color: #6E96ED; 
  margin-left: 2px; 
}

.textoCarta1, .textoCarta2, .textoCarta3 {
  width: 100%;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #FAFAFA;
  text-align: center;
  margin-top: 38px;
  line-height: 1.3;
}

.mais { 
  color: #6E96ED;
   margin-right: 2px; 
  }
.numero2 { 
  color: #FAFAFA; 
}

#FundoAzulOndaGradiente {
  position: absolute;
  height: 1250px;
  left: 0;
  right: 0;
  top: 580px;
  z-index: 3;
}

.O-Delta {
  position: absolute;
  width: 100%;
  height: 1250px;
  font-family: 'Unbounded', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #FAFAFA;
  left: 83px;
  right: 0;
  top: 900px;
  z-index: 4;
}

.textoDelta {
  position: absolute;
  width: 100%;
  height: 1250px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #FAFAFA;
  left: 83px;
  right: 0;
  top: 1060px;
  z-index: 4;
}

.Iphone {
  position: absolute;
  right: 83px;
  top: 865px;
  z-index: 4;
}

#FundoAzulClaroOnda {
  position: absolute;
  height: 1100px;
  left: 0;
  right: 0;
  top: 1350px;
  z-index: 2;
  align-items: center;
  display: flex;
}

.tituloConceito {
  position: absolute;
  font-family: 'Unbounded', sans-serif;
  font-size: 70px;
  font-weight: 800;
  color: #003E9B;
  top: 1600px;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
}

.retanguloCenario, .retanguloSolucao {
  position: absolute;
  width: 279px;
  height: 89px;
  top: 1750px;
  z-index: 3;
  display: flex;
}

.retanguloCenario {
  position: relative;
  left: 0;
  border-radius: 0 44.5px 0 0;
  background: #306AE5;
}

.retanguloSolucao {
  right: 0;
  top: 1950px;
  border-radius: 44.5px 0 0 0;
  background: linear-gradient(95deg, #1E5ACA -10.15%, #0947A9 99.71%);
}

.retanguloCenario2, .retanguloSolucao2 {
  position: absolute;
  width: 1064px;
  height: 150px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.retanguloCenario2 {
  left: 0;
  top: 1835px;
  border-radius: 0 90px 90px 0;
  background: linear-gradient(88deg, #306AE5 37.24%, #003E9B 91.25%);
}

.retanguloSolucao2 {
  right: 0;
  top: 2035px;
  border-radius: 90px 0 0 90px;
  background: linear-gradient(140deg, #306AE5 38%, #003E9B 100%);
}

.miniTituloCenario, .miniTituloSolucao {
  position: absolute;
  font-family: Unbounded;
  color: #FAFAFA;
  font-weight: 800;
  font-size: 40px;
  z-index: 4;
  top: 50%;
  left: 50%;
}

.miniTituloCenario { 
  transform: translate(-55%, -45%); 
}
.miniTituloSolucao { 
  transform: translate(-45%, -40%); 
}

.conteudoCenario {
  width: 914px;
  height: 76.416px;
  color: #FAFAFA;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 149.978%;
  letter-spacing: 0.63px;
  display: flex;
  margin-bottom: 25px;
  margin-right: 70px;
}

.conteudoSolucao {
  width: 965px;
  height: 112.742px;
  color: #FFF;
  text-align: right;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 149.978%;
  letter-spacing: 0.63px;
  margin-top: 25px;
  margin-left: 25px;
}

#FundoAzulCurvado {
  position: absolute;
  z-index: 4;
  height: 750px;
  top: 2300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tituloObjetivos {
  position: absolute;
  color: #FAFAFA;
  text-align: center;
  font-family: Unbounded;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  top: 2420px;
  z-index: 4;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.cartaoReducao, .cartaoMonitoramento, .cartaoEficiencia {
  position: absolute;
  width: 408px;
  height: 346px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #ECF2FB;
  z-index: 5;
  top: 2550px;
}

.cartaoReducao { 
  margin-left: 80px; 
}
.cartaoMonitoramento { 
  margin-left: 543px; 
}
.cartaoEficiencia { 
  margin-left: 1000px; 
}

#hidrometro, #monitoramento, #eficiencia {
  position: absolute;
  z-index: 6;
  margin-left: 28px;
  margin-top: 34px;
}

.tituloReducao, .tituloMonitoramento, .tituloEficiencia {
  color: #0B2156;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  z-index: 6;
  margin-left: 28px;
  margin-top: 86.26px;
}

.informacoesReducao, .informacoesMonitoramento, .informacoesEficiencia {
  width: 337px;
  height: 163px;
  color: #616E80;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 149.978%;
  letter-spacing: 0.45px;
  margin-left: 24px;
  margin-top: 140px;
}

#FundoAzulClaroOnda2 {
  position: absolute;
  z-index: 3;
  top: 3000px;
  left: 0;
  right: 0;
  height: 710px;
}

.tituloFuncionalidades {
  position: absolute;
  color: #003E9B;
  text-align: center;
  font-family: Unbounded;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.4px;
  top: 3150px;
  z-index: 4;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#frame1, #frame2, #frame3, #frame4, #frame5, #frame6 {
  position: absolute;
  z-index: 4;
  width: 411px;
  height: auto;
}

#frame1 { left: 79px; top: 3260px; }
#frame2 { left: 514px; top: 3260px; }
#frame3 { left: 949px; top: 3260px; }
#frame4 { left: 79px; top: 3450px; }
#frame5 { left: 514px; top: 3450px; }
#frame6 { left: 949px; top: 3450px; }


#relogio { 
  position: absolute; 
  z-index: 5; 
  left: 104px; 
  top: 3320px; 
}
#sino { 
  position: absolute; 
  z-index: 5; 
  top: 3320px;
  left: 539px; 
}
#grafico { 
  position: absolute; 
  z-index: 5; 
  top: 3320px; 
  left: 971px; 
}
#lista { 
  position: absolute; 
  z-index: 5; 
  top: 3510px; 
  left: 104px; 
}
#robo { 
  position: absolute; 
  z-index: 5; 
  top: 3510px; 
  left: 539px; 
}
#papel { 
  position: absolute; 
  z-index: 5; 
  top: 3510px; 
  left: 971px; 
}

.tituloCardMonitoramento, .tituloCardAlerta, .tituloCardPrevisao,.tituloCardMetas, .tituloCardChatbot, .tituloCardHistorico {
  position: absolute;
  color: #0B2156;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 5;
}

.tituloCardMonitoramento { 
  top: 3300px; 
  left: 165px; 
}
.tituloCardAlerta { 
  top: 3300px; 
  left: 605px; 
}
.tituloCardPrevisao { 
  top: 3300px; 
  left: 1045px; 
}
.tituloCardMetas { 
  top: 3490px; 
  left: 165px; 
}
.tituloCardChatbot { 
  top: 3490px; 
  left: 605px; 
}
.tituloCardHistorico { 
  top: 3490px; 
  left: 1045px; 
}

.informacoesCardMonitoramento, .informacoesCardAlerta, .informacoesCardPrevisao,.informacoesCardMetas, .informacoesCardChatbot,.informacoesCardHistorico {
  position: absolute;
  color: #616E80;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  z-index: 5;
}

.informacoesCardMonitoramento { 
  top: 3330px;
  left: 165px; 
}
.informacoesCardAlerta { 
  top: 3330px; 
  left: 605px; 
}
.informacoesCardPrevisao { 
  top: 3330px; 
  left: 1045px; 
}
.informacoesCardMetas { 
  top: 3520px; 
  left: 165px; 
}
.informacoesCardChatbot { 
  top: 3520px; 
  left: 605px; 
}
.informacoesCardHistorico { 
  top: 3520px; 
  left: 1045px; 
}

.tituloNossaEquipe {
  position: relative;
  color: #003E9B;
  text-align: center;
  font-family: Unbounded;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.4px;
  z-index: 5;
  top: 3750px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.carrossel-section {
  width: 100%;
}

.carrossel {
  position: relative;
  width: 100%;
  max-width: 100vw; 
  display: flex;
  align-items: center;
  z-index: 5;
  top: 3800px; 
  overflow: hidden; 
}

.fotosCarrossel {
  display: flex;
  width: max-content; 
  padding: 10px 0;
  animation: rolarCarrossel 30s linear infinite;
  will-change: transform; 
}

.foto {
  flex-shrink: 0;
}

.grupo {
  display: flex;
  align-items: flex-start;
  gap: 70px; 
  padding-right: 70px; 
  flex-shrink: 0;
}

@keyframes rolarCarrossel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#lucas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lucasTexto {
  max-width: 100%;
  height: auto;
  margin-top: 1px;
}

#lucasFoto {
  transform: rotate(-45deg);
}

#fundoCurvadoGradiente {
  position: absolute;
  right: 0px;
  left: -60px;
  height: 1400px;
  top: 4150px;
}

#corpoGlub{
  position: absolute;
  right:100px;
  height: auto;
  top:4500px;
  z-index:2;
  opacity: 1;
}

#bracoGlub{
  position: absolute;
  right:520px;
  height: auto;
  top:4575px;
  z-index:1;
  opacity: 1;
  transform-origin: 80% 90%;
  animation: acenar 1.3s ease-in-out infinite alternate;
}

@keyframes acenar {
    0% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

#gotaMaior{
  position: absolute;
  right:602px;
  height: auto;
  top:4685px;
  z-index:2;
}

#gotaMenor{
  position: absolute;
  right:613px;
  height: auto;
  top:4722px;
  z-index:2;
}

.sobreNos {
  position: absolute;
  color: #FAFAFA;
  font-family: Unbounded;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.8px;
  z-index: 2;
  top: 4480px;
  left: 87px;
}

.textoSobreNos {
  position: absolute;
  color: #FAFAFA;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 149.978%;
  letter-spacing: 0.72px;
  left: 87px;
  top: 4650px;
  z-index: 3;
  width: 680px;
  height: 273px;
}

#ParteFinal {
  position: absolute;
  height: 283px;
  width: 1376px;
  top: 7200px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#footer{
  position: absolute;
  right: 0;
  left:-100px;
  height: 650px;
  top:7000px;
}

.Footer{
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coluna1, .coluna2, .coluna3{
  position: absolute;
  z-index: 5;
  top:7200px;
  left:503px;
  margin-bottom: 10px;
  color:#FAFAFA;
  line-height: 2;
  list-style: none;
}

.coluna2{
  left: 778px;
}

.coluna3{
  left: 1129px;
}

.coluna1 li,.coluna2 li,.coluna3 li{
  white-space: nowrap;
}

#logo{
  position: absolute;
  z-index: 5;
  width: auto;
  height: auto;
  left:37px;
  top:7100px;
}

.textoFooter{
  position: absolute;
  width: 291px;
  z-index: 5;
  left:40px;
  top:7200px;
  color:#FAFAFA;
}

.redesSociais{
  position: absolute;
  z-index: 5;
  top:8020px;
  color:#FAFAFA;
  left:20px;
}

#apps{
  position: absolute;
  z-index: 5;
  top:8060px;
  left:25px;
}
