* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    overflow: hidden;
}

@font-face {
    font-family: Montserrat;
    src: url("Fontes/Montserrat-VariableFont_wght.ttf")
}

body{
    font-family: Montserrat, sans-serif;
}

.gota{
    position: absolute;
    top: 0;
    align-items: center;
}

.titulo{
    font-size: 52px;
    font-weight: 400;
    padding-top: 60%;
    padding-left: 30px;
    font-family: Montserrat, sans-serif;
}

.titulo1{
    font-size: 52px;
    font-weight: 400;
    padding-left: 30px;
    
}

.inteligentemente{
    font-size:51px;
    font-weight: 900;
    padding-left: 30px;
}

.fundo-svg{
    width: 100%;
    height: auto;
    display: block;
    object-fit: fill;
}

.Crie-sua-conta{
    position: absolute;
    font-size: 45px;
    font-weight: 740;
    z-index: 10;
    top: 5rem; 
    right: 16rem; 
    transform: scaleY(0.93);
}

.tituloNome {
    top: 0;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    z-index: 15;
    top: 11rem;
    right: 31.6rem;
}

.tituloEmail {
    top: 0;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    z-index: 15;
    top: 18.5rem;
    right: 37.7rem;
}

.tituloSenha {
    top: 0;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    z-index: 15;
    top: 26rem;
    right: 37.3rem;
}

.titulo, .titulo1, .inteligentemente {
    color: #FAFAFA;
}

#nome,#email,#senha{
    position: absolute;
    padding-left: 15px;
    font-size: 20px;
}

#nome::placeholder,#email::placeholder,#senha::placeholder{
    color:#427bec;
    vertical-align: middle;
    opacity: 0.5;
}

#nome {
    font-size: 22px;
    font-weight: 200;
    z-index: 15;
    top: 13rem; 
    right: 10rem; 
    width: 500px;
    height: 60px;
    border-radius: 16px;
    border:2px solid #a0a0a0;
    outline: none;
}

#email {
    position: absolute;
    font-size: 22px;
    font-weight: 200;
    z-index: 15;
    top: 20.5rem; 
    right: 10rem; 
    width: 500px;
    height: 60px;
    border-radius: 16px;
    border:2px solid #a0a0a0;
    outline: none;
}

#senha {
    position: absolute;
    font-size: 22px;
    font-weight: 200;
    z-index: 15;
    top: 28rem; 
    right: 10rem; 
    width: 500px;
    height: 60px;
    border-radius: 16px;
    border: 2px solid #a0a0a0;
    outline: none;
}

#nome:focus, #email:focus, #senha:focus {
    border-color: #0B5BF9;
}

.container-lembrar {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 33.1rem;
    right: 30.8rem;
    z-index: 15;
    font-size: 16px;
    font-weight: 700;
}

.container-lembrar input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #a0a0a0; 
    border-radius: 4px;     
    cursor: pointer;
    place-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.container-lembrar input[type="checkbox"]:checked {
    background-color: #0B5BF9; 
    border-color: #0B5BF9;
}

.container-lembrar input[type="checkbox"]:checked::before{
    content: "";
    width: 6px;
    height: 13px;
    border: solid #FAFAFA;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin-bottom: 4.5px;
    margin-right: 1.5px;
}

.criar-conta{
    font-family: Montserrat, sans-serif;
    background-color: #0B5BF9;
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    z-index: 15;
    top: 36rem; 
    right: 10rem; 
    width: 500px;
    height: 60px;
    border-radius: 16px;
    color:#FAFAFA;
    cursor:pointer;
    border: solid #0B5BF9;
}

#texto-azul{
    color:#0B5BF9;
}

.login{
    position: absolute;
    font-size: 18px;
    font-weight: 200;
    z-index: 15;
    top: 44rem; 
    right: 18.5rem; 
    color: #6C9CFA;
    top: 40.7rem;
}

.login strong, .login u{
    color: #0B5BF9;
    font-weight: 900;
    opacity: 1;
}