@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    overflow: hidden;
}

.fundo{
    position: absolute;
    top: 0;
    align-items: center;
    font-family:Montserrat,sans-serif;
}

.titulo{
    font-size: 51px;
    font-weight: 400;
    padding-top: 15%;
    padding-left: 30px;
}

.titulo1{
    font-size: 51px;
    font-weight: 400;
    padding-left: 30px;
}

.inteligentemente{
    font-size:50px;
    font-weight: 900;
    padding-left: 30px;
}

.fundo-svg{
    width: 100%;
    height: auto;
    display: block;
    object-fit: fill;
}

.entrar{
    position: absolute;
    font-size: 45px;
    font-weight: 700;
    z-index: 10;
    top: 5rem; 
    right: 20rem; 
    color: #003E9B;
    text-align: center;
    font-family: 'Unbounded';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.981%;
    letter-spacing: -0.5px;
}

.tituloEmail {
    top: 0;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    z-index: 15;
    top: 11rem;
    right: 37.7rem;
    color: #003E9B;
}

.tituloSenha {
    top: 0;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    z-index: 15;
    top: 18.5rem;
    right: 37.3rem;
    color: #003E9B;
}

.titulo, .titulo1, .inteligentemente {
    color: #FAFAFA;
}

#email,#senha{
    position: absolute;
    padding-left: 15px;
    font-size: 20px;
}

#email::placeholder,#senha::placeholder{
    color: #003E9B;
    vertical-align: middle;
    opacity: 0.5;
}

#email {
    position: absolute;
    font-size: 22px;
    font-weight: 200;
    z-index: 15;
    top: 13rem; 
    right: 10rem; 
    width: 500px;
    height: 60px;
    border-radius: 16px;
    border:2px solid #a0a0a0;
    outline: none;
}

#senha {
    position: absolute;
    font-size: 22px;
    font-weight: 200;
    z-index: 15;
    top: 20.5rem; 
    right: 10rem; 
    width: 500px;
    height: 60px;
    border-radius: 16px;
    border: 2px solid #a0a0a0;
    outline: none;
}

#email:focus, #senha:focus {
    border-color:#003E9B;;
}

.esqueceu{
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 25.5rem;
    right: 32rem;
    z-index: 15;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    color: #003E9B;
}

.esqueceu:hover {
    text-decoration: underline;
}

.criar-conta{
    background-color: #003E9B;
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    z-index: 15;
    top: 28rem; 
    right: 10rem; 
    width: 500px;
    height: 60px;
    border-radius: 16px;
    color:#FAFAFA;
    cursor:pointer;
    border: solid #003E9B;;
}

.criar{
    position: absolute;
    font-size: 18px;
    font-weight: 200;
    z-index: 15;
    right: 17rem; 
    color: #003E9B;
    top: 32.5rem;
}

.criar strong, .criar u{
    color: #003E9B;
    font-weight: 800;
    opacity: 1;
}

.glub{
    position:absolute;
    left:50px;
    top:16rem;
    z-index: 3;
}

.voltar{
    position: absolute;
    z-index: 3;
    right:2rem;
    top:2rem;
}

#olho{
    position: absolute;
    z-index: 30;
    top:345px;
    right:180px;
    background: transparent;
    border: none;
    cursor: pointer;
}